.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 50%;
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}